{% extends "laundry/layout.html" %}
{% load static %}
{% block title %}Laundry Info{% endblock %}
{% block body %}
<div class="container">

    <form class="bg-white p-4 rounded" style="width: 300px;" action="{% url 'add' reg_number %}" method="post">
        <p class="text-dark fw-bold">
            <b>{{ reg_number }}</b>
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            {% csrf_token %}
            <label for="clothCount" class="form-label text-dark">Cloth Count:</label>
            <input type="number" id="clothCount" name="clothCount" class="form-control" placeholder="Enter Cloth Count"
                   required>
        </div>


        <button type="submit" class="btn btn-success">
            Submit
        </button>
    </form>


    <h2 style="color: #009688; margin-top: 30px;">Submission Record</h2>
    <table id="recordTable" class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sl. No.</th>
            <th scope="col">Date</th>
            <th scope="col">Cloth Count</th>
            <th scope="col">Status</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for laundry in laundries %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ laundry.date }}</td>
                <td>{{ laundry.clothCount }}</td>
                <td>{% if laundry.out %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-xmark"></i>{% endif %}
                </td>
                <td>
                    <form method="POST" action="{% url 'delete' laundry.id %}" id="deleteForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
<script>
    const deleteForm = document.getElementById('deleteForm');
    if (deleteForm) {
        deleteForm.addEventListener('submit', function (event) {
            if (!confirm("Are you sure you want to delete this item?")) {
                event.preventDefault(); // Prevent form submission
            }
        });
    }
</script>
